@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 97%;
    background-image: url('../../Assets/Pictures/solar1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 94vh;
}

.login-box {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.bot-icon {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
}

.title {
    color: #f9ac1e;
    margin: 0;
    font-family: 'Orbitron', monospace;
    font-size: 30px;
}

.subtitle {
    margin: 5px 0 20px;
    color: #333;
    font-size: 14px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.input-icon-box {
    display: flex;
    align-items: center;
    border: 1px solid #999;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
}

.input-icon-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    padding: 5px;

}

.icon {
    width: 20px;
    margin-right: 10px;
    border-radius: 12px;
}

.eye-icon {
    cursor: pointer;
    font-size: 18px;
    padding-left: 10px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #f9ac1e;
    color: #000;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.login-btn a {
    text-decoration: none;
    color: #000;
}

.footer-text {
    margin-top: 15px;
    font-size: 14px;
    color: #444;
}

.footer-text a {
    color: #f9ac1e;
    text-decoration: none;
}